#myresume {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: inherit;
  height: 80vh;
  margin: 10vh 0;
}

.resumelist {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  margin: 10vh auto;
  max-width: 50vw;
  transition: 500ms;
}

.resumelist a {
  text-decoration: none;
  color: var(--primary-color);
}

.resumelist .resumecard {
  margin: 1vh 10px;
  padding: 2vh 10px;
  background-color: black;
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  transition: 0;
}

.resumelist .resumecard:hover {
  border-width: 3px;
}

.resumelist .resumecard span.tag {
  float: right;
}

.resumelist .resumecard span.title {
  font-size: 25px;
  float: left;
}

.resumelist .contract {
  width: fit-content;
  margin: 0 auto;
}

.resumedetail {
  margin: 10vh 2vw;
  border-left: 3px solid white;
  flex-basis: 0;
  flex-grow: 1;
}

.resumedetail > div {
  margin: 10vh 2vw;
  padding: 0 10px;
}
