@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary-color: rgb(111, 247, 232);
  --bg-color: #0b132b;
  --primary-color-lite: #111b38;
  --primary-color-alpha: rgba(111, 247, 232, 0.3);
}

body {
  background-color: var(--bg-color);
  color: white;
  font-family: "Nunito", sans-serif !important;
  overflow-x: hidden;
}

.mono {
  font-family: "Roboto Mono", monospace !important;
}

.ubuntu {
  font-family: "Ubuntu Mono", monospace !important;
}

.primary {
  color: var(--primary-color);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div#root > svg {
  position: absolute;
  top: 0;
  left: 0;
}

#myprofile,
#myresume,
#myworksbeta,
#mycontacts {
  background-color: var(--bg-color);
}
