@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap");

:root {
  --primary-color: rgb(111, 247, 232);
  --bg-color: #0b132b;
  --primary-color-lite: #111b38;
  --primary-color-alpha: rgba(111, 247, 232, 0.3);
}

body {
  background-color: var(--bg-color);
  color: white;
  font-family: "Open Sans", sans-serif !important;
}

.mono {
  font-family: "Roboto Mono", monospace !important;
}

.primary {
  color: var(--primary-color);
}
