:root {
  --sec-color: rgb(82, 236, 125);
  --column-width: 50px;
}

.navbar,
.linkbar {
  position: fixed;
  border: 0px solid var(--sec-color);
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 0%);

  text-align: center;

  ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;

    li {
      padding: 1px 0;
      position: absolute;
      svg.icon {
        width: 30px;
        filter: drop-shadow(0 0 0px var(--primary-color));
        transition: 200ms;
      }

      div.title {
        position: relative;
        width: fit-content;
        margin: 0 auto;

        &:after {
          content: "";
          bottom: -1px;
          right: 0px;
          left: 0px;
          margin: 0 auto;
          position: absolute;
          width: 0%;
          height: 2px;
          background-color: white;
          border-radius: 1px;
          transition: 200ms;
        }
      }

      &.iconBtn {
        &:hover {
          svg.icon {
            filter: drop-shadow(0 0 4px var(--primary-color));
            transform: translateY(-5px) scale(1.1);
            stroke: var(--primary-color);
          }

          div.title::after {
            content: "";
            bottom: -2px;
            right: 0px;
            left: 0px;
            margin: 0 auto;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: white;
            border-radius: 1px;
          }
        }

        z-index: inherit;
      }
    }
  }
}

.navbar {
  top: 0px;
  right: 0px;
  border-radius: 0 0 20px 20px;
  z-index: 999;
  --lbound: 0%;
  --rbound: 10%;

  animation: fadeinright 1s ease-in 0s 1 normal forwards;

  ul {
    list-style-type: none;
    div.title {
      font-size: 12px;
    }
    z-index: 100;
  }
  div.lineup {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 99;
  }
}

.linkbar {
  bottom: 0px;
  left: 0px;
  border-radius: 20px 20px 0 0;

  ul {
    list-style-type: none;
  }
  div.lineup {
    position: absolute;
    left: 15px;
    bottom: 10px;
  }

  div.curtains {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    z-index: 10;
    background-color: var(--bg-color);
  }
}

@keyframes hover {
  from {
    width: 30px;
    filter: drop-shadow(0 0 0px var(--primary-color));
  }
  to {
    width: 40px;
    filter: drop-shadow(0 0 3px var(--primary-color));
  }
}
