:root {
  --sec-color: rgb(82, 236, 125);
  --column-width: 50px;
}

.navbar,
.linkbar {
  position: fixed;
  border: 0px solid var(--sec-color);

  text-align: center;

  a {
    font-size: 10px;
    text-decoration: none;
    color: white;
  }
  ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;

    li {
      padding: 1px 0;
      position: absolute;
      svg.icon {
        width: 30px;
      }
    }
  }
}

.navbar {
  top: 0px;
  right: 0px;
  border-radius: 0 0 20px 20px;
  z-index: 999;

  ul {
    list-style-type: none;
    div.title {
      font-size: 12px;
    }
  }
  div.lineup {
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

.linkbar {
  bottom: 0px;
  left: 0px;
  border-radius: 20px 20px 0 0;

  ul {
    list-style-type: none;
  }
  div.lineup {
    position: absolute;
    left: 15px;
    bottom: 10px;
  }

  div.curtains {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    z-index: 10;
    background-color: var(--bg-color);
  }
}
