#myprofile {
  position: relative;
  background-color: inherit;
  border-radius: 25px;
  border: 0px solid var(--primary-color);
  height: 80vh;
  margin: 10vh 0;
}

#profilebox {
  padding: 20vh 10vw 0 10vw;
}

#profilebox h1 {
  margin: 0 0;
  color: var(--primary-color);
  font-size: 20px;
}

#profilebox h2 {
  font-size: 55px;
  margin: 0 0;
}

#profilebox h3 {
  margin: 0 0 5vh 0;
  font-size: min(2.5vw, 25px);
}

#profilebox p {
  color: var(--primary-color);
}

#profilebox button {
  padding: 10px 30px;
}

#btndiv {
  width: fit-content;
  margin: 5vh auto;
  position: absolute;
  bottom: 4vh;
  left: 0;
  right: 0;
}
